@import './base.css';

:root {
  --bulma-column-gap: 0;
}

#app_container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-list a {
  color: #ffffff;
}
